body {
             background-color:rgb(245, 245, 203);
             font-family: 'Times New Roman', Times, serif;
             margin-top: 50px;
             font-size: large;
        }
        header{
            text-align: center;
            background-color: rgb(215, 170, 111);
            height: 100px;
            border-radius: 10px;
            
        }
        footer{
            text-align: center;
            background-color: burlywood;
            height: 200px;
            position: relative;
            margin-top: 50px;
            border-radius: 10px;
        }
       